.navbar-brand {
  font-weight: 800;
  font-size: 14px;
}

.navbar {
  font-size: 14px;
}

.bulet-b {
  border: 1px solid #B87B9D;
  color: #B87B9D !important;
  border-radius: 5rem;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.nav a {
  color: black;
}

body {
  /*overflow: hidden;*/
}

.bg-top {
  background-color: #fcf6fb;
  height: 1000px;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 114%;
  z-index: -1;
  transform: rotate(5deg);
}

.wrap-color-px {
  overflow: hidden;
  position: relative;
}

.relative {
  position: relative;
}

.sidiq-dotted {
  color: #CDC2CA;
}

.kuylah {
  position: absolute;
}

.prof-img-head {
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  margin-left: 25px;
  margin-top: 15px;
}

.prof-img-post {
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  margin-left: 25px;
  margin-top: 15px;
}

.prof-img-head img, .prof-img-post img {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 200%;
}

.head-title {
  font-size: 4rem;
}

.btn.btn-primary.bulet-b {
  background-color: #BA7A9F;
  color: white !important;
  font-size: 14px;
  padding: 10px 35px;
}

.color-float {
  display: inline-block;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0pc;
}

.color-float button {
  height: 100px;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 75px;
}

.font-color {
  text-align: center;
  font-size: 14px;
}

.pos-2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pos-4 {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%) scale(.7);
}

.pos-1 {
  position: absolute;
  left: 0;
  top: 80%;
  transform: translate(-20%,-50%) scale(.8);
}

.pos-3 {
  position: absolute;
  left: 0;
  top: 20%;
  transform: translate(-10%,-50%) scale(.7);
}

.sub-title {
  color: #BA7FA1;
  margin: 0;
  font-weight: bold;
}

.float-service {
  width: 200px;
  border-radius: 15px;
  margin: 25px 0;
  overflow: hidden;
  cursor: pointer;
}

.service-content {
  padding: 15px;
  background-color: white;
  height: 100%;
}

.service-content i {
  padding: 5px;
  background-color: #DEDDFA;
  border-radius: 10px;
  font-size: 32px;
  margin-bottom: 15px;
  /*flex-grow: 1;*/
}

.wrap-service {
  flex-flow: wrap;
  margin: 35px 0;
}

.color-umum {
  color: #928D93;
}

.float-service:hover .service-content {
  -webkit-box-shadow: inset 0px -10px 0px 0px rgba(183,121,157,1);
  -moz-box-shadow: inset 0px -10px 0px 0px rgba(183,121,157,1);
  box-shadow: inset 0px -10px 0px 0px rgba(183,121,157,1);
}

.float-service:hover i {
  background-color: #F0D1E6;
}

.float-service p {
  font-size: 14px;
}

.float-service h4 {
  font-size: 18px;
}

.prof-img-post img {
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.wrap-service .color-float {
  margin: 20px 0;
}

.wrap-service .color-float button {
  width: 55px;
  height: 75px;
}

.wrap-service .color-float .font-color {
  font-size: 12px;
}

.subscribe {
  width: 400px;
  float: right;
}

.subscribe form .text-inputku {
  padding: 15px;
}

.text-inputku {
  border-radius: 0;
}

.subscribe form {
  font-size: 14px;
  padding: 15px 35px;
}

.subscribe form p {
  margin: 0;
  margin-top: 15px;
}

.text-inputku {
  border-color: #F2D2E7;
}

.subscribe button {
  height: auto;
  width: auto;
}

.footer {
  font-size: 14px;
}

.social-media {
  /*padding: 10px;*/
  background-color: #AC7996;
  border-radius: 50%;
  color: white;
  margin: 0 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 2.3em;
  text-align: center;
}

.social-media i {
  width: 30px;
  height: 30px;
}

.paddingzero {
  padding: 0;
}

.footnote a {
  margin: 15px 0;
  margin-right: 15px;
  text-decoration: none;
  color: #806578;
}

.copyright {
  font-size: 14px;
  padding: 15px 0;
  color: #B99CAE;
  font-weight: bold;
}

.foot-bg {
  width: 150%;
  height: 90%;
  border-top-right-radius: 5rem;
  background-color: #EBCEE0;
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
}

.copyright p {
  margin: 0;
}

.social-media:last-child {
  margin-right: 0 !important;
}

@media (max-width: 576px) {
  .flex-lg-row {
    flex-direction: column;
  }
}

